html {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

table {
  @extend .table;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  &:hover, &:focus, &:active {
    @include themify($themes) {
      color: themed('orange');
    }
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}
