{{! @TODO: Change to groups links }}
<a href="#">
  {{ui-image image=(get-image @record.avatar "medium") alt=@record.name class="mr-3"}}
  <div class="media-body">
    <h5 class="my-0">{{@record.name}}</h5>
    <span class="tagline">{{@record.tagline}}</span>
    <span class="members">{{t "shared-addon.search-popper.results.items.members" count=@record.membersCount}}</span>
  </div>
</a>