<div class="search-background"></div>
<div class="container search-page">
  <div class="row">
    <div class="col-sm-3 px-0 filter-panel">

    </div>

    <div class="col-sm-9 px-0 media-panel">
      <div class="search-input">
        {{svg-jar "search"}}
        <input type="search" class="form-control" placeholder={{t "explore.search-page.placeholder"}}>
      </div>
    </div>
  </div>
</div>
