<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      {{app-feed/items/post
        post=model.post
        comment=model
        isPermalinkPage=true}}
    </div>
  </div>
</div>